<h2 class="page-title">Create Questionnaire</h2>
<mat-card>

    <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field class="full-width">
            <mat-label>Quiz Title</mat-label>
            <input formControlName="surveyTitle" matInput placeholder="Enter Title" maxlength="50" [required]="true">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea formControlName="surveyType" matInput
                placeholder="Describe the purpose of this questionaire"></textarea>
            <!-- <mat-select formControlName="surveyType" placeholder="Select Type" [required]="true">
        <mat-option *ngFor="let surveyType of surveyTypes" [value]="surveyType.value">
             {{surveyType.value}}

        </mat-option>
        
 
      </mat-select> -->
        </mat-form-field>
        <mat-slide-toggle formControlName="IsAnonymous" class="mb-10">Make survey anonymous </mat-slide-toggle>

        <div class="survey-options">

            <div formArrayName="surveyQuestions" class="poll-options">
                <h3 class="list-title">Add Survey Questions </h3>


                <ol class="list-style">
                    <li *ngFor="let questionCtrl of surveyForm.get('surveyQuestions')['controls']; let i = index">
                        <div [formGroupName]="i">
                            <div>
                                <mat-form-field class="full-width">
                                    <input formControlName="questionTitle" maxlength="200" matInput
                                        placeholder="Question title" [required]="true">
                                </mat-form-field>
                                <mat-form-field class="full-width">
                                    <mat-select formControlName="questionType" placeholder="Question type"
                                        ng-model="myVar" [(value)]="selectedOption[i]"
                                        (selectionChange)="onSeletQuestionType(selectedOption[i], i)" [required]="true">
                                        <mat-option *ngFor="let type of questions" [value]="type.value">
                                            {{type.viewValue}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <div formGroupName="questionGroup" [ngSwitch]="selectedOption[i]">
                                    <div *ngSwitchCase="'Single choice'">
                                        <div *ngIf="questionCtrl.controls.questionGroup.controls.options">
                                            <ul class="question-type" formArrayName="options">
                                                <li
                                                    *ngFor="let optionCtrl of questionCtrl.controls.questionGroup.controls.options.controls let j = index">
                                                    <div [formGroupName]="j">

                                                        <mat-form-field>
                                                            
                                                            <input formControlName="optionText" matInput
                                                                placeholder="option text" maxlength="100"
                                                                [required]="true">
                                                        </mat-form-field>

                                                        <button *ngIf="j>=2" (click)="removeOption(i,j)" color="warn">X

                                                        </button>

                                                    </div>
                                                </li>
                                            </ul>
                                            <button mat-raised-button type="button" (click)="addOption(i)"
                                                class="mat-sm-button add-option-btn" color="accent"> Add option</button>
                                        </div>
                                        <div *ngIf="questionCtrl.controls.questionGroup.controls.showRemarksBox">
                                            <mat-slide-toggle formControlName="showRemarksBox">
                                                Show Remarks Textarea
                                            </mat-slide-toggle>
                                            <mat-form-field class="full-width">
                                                <textarea style="resize: none;"  matInput
                                                    placeholder="Correct Answer"></textarea>
                                            </mat-form-field>
                                        </div>

                                    </div>
                                    <div *ngSwitchCase="'Multi choice'">
                                        <div *ngIf="questionCtrl.controls.questionGroup.controls.options">
                                            <ul class="question-type" formArrayName="options">
                                                <li
                                                    *ngFor="let optionCtrl of questionCtrl.controls.questionGroup.controls.options.controls let j = index">
                                                    <div [formGroupName]="j">

                                                        <mat-form-field>
                                                            <input formControlName="optionText" matInput
                                                                placeholder="option text" maxlength="100"
                                                                [required]="true">
                                                        </mat-form-field>

                                                        <button mat-raised-button *ngIf="j>=2"
                                                            (click)="removeOption(i,j)" color="warn">
                                                            X
                                                        </button>

                                                    </div>
                                                </li>
                                            </ul>
                                            <button mat-raised-button type="button" (click)="addOption(i)"
                                                class="mat-sm-button add-option-btn" color="accent"> Add option</button>
                                        </div>
                                        <div *ngIf="questionCtrl.controls.questionGroup.controls.showRemarksBox">
                                            <mat-slide-toggle formControlName="showRemarksBox">
                                                Show Remarks Textarea
                                            </mat-slide-toggle>
                                            <mat-form-field class="full-width">
                                                <textarea style="resize: none;" matInput
                                                    placeholder="Correct Answer"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div *ngSwitchCase="'Text'">

                                        <mat-form-field class="full-width">
                                            <textarea style="resize: none;"  matInput
                                                placeholder="Correct Answer"></textarea>
                                        </mat-form-field>

                                    </div>
                                    <div *ngSwitchCase="'Rating'">
                                        Stars Selected
                                    </div>

                                </div>

                            </div>
                            <button *ngIf="i>0" mat-mini-fab color="warn" type="button" (click)="onRemoveQuestion(i)"
                                class="poll-remove-btn">
                                X
                            </button>
                        </div>
                    </li>
                </ol>
                <div fxLayout="row" fxLayoutAlign="end">
                    <button type="button" mat-raised-button (click)="onAddQuestion()">
                        Add Question
                    </button>
                </div>
            </div>

        </div>


        <div class="button-row">
            <button class="full-width" color="primary" type="submit" mat-raised-button [disabled]="!surveyForm.valid">


                <span *ngIf="!editMode">Submit</span>
                <span *ngIf="editMode">Update Survey</span>
            </button>

        </div>
    </form>
    <button class="full-width" color="primary" routerLink='/preview' type="submit" mat-raised-button [disabled]="!surveyForm.valid">
      <span>Preview</span>
    </button>
</mat-card>