<div *ngFor= "let arr of quiz ; let i = index">
    <mat-toolbar >
        <span  class="fill-remaining-space">{{arr.Title}}</span>
    </mat-toolbar>
    <mat-card>{{arr.Type}}</mat-card>

    
    <form [formGroup]="getsurveyForm" (ngSubmit)="onSubmit(getsurveyForm.value)" autocomplete="off">
        <div class="survey-options">
            <div formArrayName="surveyQuestions" class="poll-options">

        <ol class="list-style" *ngFor = "let ques of question ; let i = index" [ngSwitch]="ques.Type">
            
                <li *ngSwitchCase="'Single choice'" >
                    <label id="example-radio-group-label">{{ques.Text}}</label>
                    <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    class="example-radio-group">
                    <mat-radio-button class="example-radio-button"  *ngFor = "let opt of ques.options" [value]="opt.OptionText">
                        {{opt.OptionText}}
                    </mat-radio-button>
                    </mat-radio-group>


            </li>
            
            <li *ngSwitchCase="'Multi choice'" >
                <label for="questionText">{{ques.Text}}</label>
                
                <section class="example-section" *ngFor = "let opt of ques.options">
                    <mat-checkbox class="example-margin" >{{opt.OptionText}}</mat-checkbox>
                </section>
            </li>
            <li *ngSwitchCase="'Text'" >
                <mat-label>{{ques.Text}}</mat-label>
                <form class="example-form">
                    
                    <mat-form-field class="full-width">

                      <textarea  matInput placeholder="Give an answer"></textarea>
                    </mat-form-field>
                  </form>
                
                
            </li>
        </ol>
        </div>
        <div class="form-element">
            <button class="full-width" mat-raised-button color="primary" type="submit"  [disabled]="!getsurveyForm.valid">Submit Form</button>
        </div>
    </div>    
    </form>   


</div>